<div class="container">
  <div class="col-md-4 card mt-1">
    <div class="container-fluid coverImage d-flex flex-row-reverse p-0 pt-1">
      <div class="editIcon">
        <span><img src="assets/pencil.png"></span>
      </div>
    </div>
    <div class="profileImage align-middle">
      <img src="assets/user.png">
      <div class="profileEditIcon editIcon">
        <img src="assets/pencil.png">
      </div>
    </div>
    <div class="socialLinks align-middle">
      <a><img src="assets/linkedin.png"></a>
      <a><img src="assets/Git.png"></a>
      <a><img src="assets/fb.png"></a>
      <a><img src="assets/twitter.png"></a>
    </div>
    <div class="card">
      <div></div>
    </div>
  </div>
  <div class="col-md-8"></div>
</div>
