<nav class="navbar navbar-expand-lg navbar-dark bg-dark menubar">
  <div class="container">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container pt-xl-5">
  <div class="Employee">
    <h2 class="text-uppercase text-center">Employee</h2>
  </div>
  <div class="pt-xl-3 d-flex justify-content-between">
    <button (click)="newEmployee()" class="btn bg-primary">Add Employee</button>
    <button class="btn bg-primary">Employee List</button>
  </div>
  <div class="row pt-xl-3">
    <app-add-employee *ngIf="isShow == true"></app-add-employee>
  </div>
  <div class="row pt-xl-3">
    <app-employee-list></app-employee-list>
  </div>
<router-outlet></router-outlet>
