<div class="d-flex align-items-center justify-content-center">
  <div class="card w-50 mt-lg-5">
    <div class="card-header">
      <h4>Sign UP</h4>
    </div>
    <div class="card-body">
      <div class="form-group">
        <label class="form-label">Email</label>
        <input type="email" class="form-control mb-2" placeholder="youremail@example.com" [(ngModel)]="email">
        <label class="form-label">Password</label>
        <input type="password" class="form-control mb-2" placeholder=")Ans#$CDA!!" [(ngModel)]="password">
        <label class="form-label">Confirm Password</label>
        <span *ngIf="password != confirmPassword" [ngClass]="confirmPassword ? '' : 'd-none'"
              class="confirmPasswordAlert alert-warning p-1">Password Incorrect</span>
        <input type="password" class="form-control" placeholder=")Ans#$CDA!!" [(ngModel)]="confirmPassword">
        <button [disabled]="password != confirmPassword" (click)="onSignUp()" class="form-control btn btn-dark mt-3">Sign Up</button>
      </div>
    </div>
  </div>
</div>
