.editEmployeeInfo fa-icon{
  margin-left: 1rem;

  cursor: pointer;
}

.employeeImage img {
  width: 10em;
  border-radius: 50%;
}
.employeeSocialLink img {
  width: 1.5rem;
  margin: 5px 5px 5px 0;
}

.confirmationModal{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
}
.confirmationModal:after{
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  width: 100%;
  height: 100%;
  opacity: .1;
}
.confirmationMessage{
  position: absolute;
  max-width: 35%;
  z-index: 99;
}

