<div *ngIf="employees" class="employeeList row">
  <div *ngFor="let employee of employees" class="col-md-6 mb-4">
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <div>
          <h3 (click)="goToProfile()" class="m-0">{{employee.name}}</h3>
        </div>
        <div class="d-flex">
          <span>{{employee.designation}}</span>
        </div>
      </div>
      <div class="card-body d-flex flex-wrap align-items-center justify-content-around pb-0">
        <div class="employeeImage m-1">
          <img src="assets/user.png">
        </div>
        <div class="employeeInfo">
          <div class="employeeAddress">
            <fa-icon [icon]="mapIcon" class="mr-1"></fa-icon> {{employee.address}}
          </div>
          <div class="employeeEmail">
            <fa-icon [icon]="emailIcon" class="mr-1"></fa-icon> {{employee.email}}
          </div>
          <div class="employeePhone">
            <fa-icon [icon]="phoneIcon" class="mr-1"></fa-icon> {{employee.phone}}
          </div>
          <div class="emplyeeSocialLink">
            <a href="{{employee.linkedin}}" target="_blank"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
      </div>
      <div *ngIf="user" class="editEmployeeInfo d-flex flex-row-reverse align-items-end p-2 pt-0">
        <fa-icon (click)="onClick()"
                 [ngClass]="editState && employeeToEdit.id == employee.id ? 'd-none' : ''"
                 class="text-muted" [icon]="deleteIcon"></fa-icon>
        <fa-icon (click)="onEdit($event, employee)" class="text-muted"
                 [ngClass]="editState && employeeToEdit.id == employee.id ? 'd-none' : ''"
                 [icon]="editIcon"></fa-icon>
        <fa-icon *ngIf="editState && employeeToEdit.id == employee.id" (click)="onCollapse()"
                 class="text-muted"  [icon]="collapseIcon"></fa-icon>
      </div>
      <hr *ngIf="editState == true" [ngClass]="editState && employeeToEdit.id == employee.id ? '' : 'd-none'"
          class="blue m-0">
      <div *ngIf="editState && employeeToEdit.id == employee.id" class="p-3">
        <div class="updateEmployeeForm">
          <div class="form-group mb-2">
            <label class="small m-0 text-muted" >Employee Name</label>
            <input type="text" class="form-control" [(ngModel)]="employee.name">
          </div>
          <div class="form-group mb-2">
            <label class="small m-0 text-muted" >Employee Age</label>
            <input type="number" class="form-control" [(ngModel)]="employee.age">
          </div>
          <div class="form-group mb-2">
            <label class="small m-0 text-muted" >Employee Designation</label>
            <input type="text" class="form-control" [(ngModel)]="employee.designation">
          </div>
          <div class="form-group mb-2">
            <label class="small m-0 text-muted" >Employee Addresss</label>
            <input type="text" class="form-control" [(ngModel)]="employee.address">
          </div>
          <div class="form-group mb-2">
            <label class="small m-0 text-muted" >Employee Email</label>
            <input type="email" class="form-control" [(ngModel)]="employee.email">
          </div>
          <div class="form-group mb-2">
            <label class="small m-0 text-muted" >Employee Phone</label>
            <input type="number" class="form-control" [(ngModel)]="employee.phone">
          </div>
          <div class="form-group mb-2">
            <label class="small m-0 text-muted" >Employee Linkedin Profile</label>
            <input type="url" class="form-control" [(ngModel)]="employee.linkedin">
          </div>
          <div class="form-group d-flex justify-content-between">
            <button (click)="onUpdate($event, employee)" class="btn btn-warning">Update</button>
            <button (click)="onDelete($event, employee)" class="btn btn-danger">Delete</button>
          </div>
        </div>

      </div>
    </div>

    <div *ngIf="confirmation == true" (click)="confirmation = false" class="confirmationModal align-middle d-flex align-items-center justify-content-center">
      <div class="card p-5 confirmationMessage">
        <p class="text-center">Are you sure, you want to add the employee?</p>
        <div class="d-flex justify-content-between">
          <button (click)="onDelete($event, employee)" class="btn btn-primary">yes</button>
          <button (click)="confirmation = false" class="btn btn-danger">no</button>
        </div>
      </div>
    </div>

  </div>
</div>
<div *ngIf="!employees" class="text-center">
  <div class="spinner-grow text-secondary" role="status"></div>
  <div>Fetching Employee...</div>
</div>
