<div *ngIf="employees" class="employeeList row">
  <div *ngFor="let employee of employees" class="col-md-4 mb-4">
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <div>
          <h3 class="m-0">{{employee.name}}</h3>
        </div>
        <div class="d-flex">
          <h6 class="m-0">Age: </h6><span>{{employee.age}}</span>
        </div>
      </div>
      <div class="card-body">
        <div class="employeeAddress">
          Address: {{employee.address}}
        </div>
        <div class="employeeEmail">
          Email: {{employee.email}}
        </div>
        <div class="emplyeeSocialLink">
          <a href="{{employee.linkedin}}" target="_blank"><i class="fa fa-linkedin"></i></a>
        </div>
        <div class="editEmployeeInfo d-flex flex-row-reverse">
          <fa-icon (click)="onDelete($event, employee)" class="text-muted" [icon]="deleteIcon"></fa-icon>
          <fa-icon class="text-muted" [icon]="editIcon"></fa-icon>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!employees" class="text-center">
  <div class="spinner-grow text-secondary" role="status"></div>
  <div>Fetching Employee...</div>
</div>
