<div class="d-flex align-items-center justify-content-center">
  <div class="card w-50 mt-lg-5">
    <div class="card-header">
      <h4>Login</h4>
    </div>
    <div class="card-body">
      <div class="form-group">
        <label class="form-label">Email</label>
        <input type="email" class="form-control" placeholder="youremail@example.com" [(ngModel)]="email" >
        <label class="form-label">Password</label>
        <input type="password" class="form-control" placeholder=")Ans#$CDA!!" [(ngModel)]="password">
        <button (click)="onSignIn(email, password)" class="btn form-control btn-success mt-3">Login</button>
      </div>
    </div>
  </div>
</div>
