@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/font-awesome/scss/font-awesome";
/* You can add global styles to this file, and also import other style files */

.align-middle{
  display: flex;
  align-items: center;
  justify-content: center;
}

.align-between{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.align-around{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
